{
  "variables": {
    "github-token": "<your token here>"
  },
  "apps": {
    "changelogs": {
      "type": "timeline"
    },
    "pulls": {
      "type": "github-pulls",
      "config": {
        "token": "#{github-token}",
        "repositories": {
          "palantir": "Codecorico/palantir"
        }
      },
      "tasks": [{
        "title": "Refresh pull-requests",
        "description": "Check for new content in %s",
        "type": "interval",
        "every": 4,
        "immediate": true,
        "trigger": "reload"
      }]
    },
    "daily-virage": {
      "type": "images-randomizer",
      "config": {
        "icon": "fas fa-chalkboard-teacher",
        "title": "Daily",
        "fixedTime": 600,
        "selectedText": [
          "%s, let's go!",
          "%s you are assigned!",
          "%s hurry up!",
          "Go to the board %s!"
        ],
        "images": [{
          "src": "https://www.gravatar.com/avatar/9e38451efa23937301594f273033c5f1?s=200",
          "legend": "Xa"
        }, {
          "src": "https://avatars0.githubusercontent.com/u/4305208?s=200",
          "legend": "Nico L."
        }, {
          "src": "https://avatars2.githubusercontent.com/u/6427804?s=200",
          "legend": "Stéphane"
        }, {
          "src": "https://avatars2.githubusercontent.com/u/32329416?s=200",
          "legend": "Val"
        }, {
          "src": "https://avatars3.githubusercontent.com/u/439054?s=200",
          "legend": "Nico P."
        }]
      },
      "tasks": [{
        "title": "Daily",
        "description": "Start the daily randomizer each day at 10:00",
        "type": "daily",
        "time": "10:00",
        "trigger": "start"
      }]
    }
  },
  "menu": [{
    "title": "Palantir",
    "sections": [{
      "title": "Dashboards",
      "links": [{
        "title": "Home",
        "root": true,
        "icon": "fas fa-home",
        "app": "changelogs"
      }, {
        "title": "Pull-requests",
        "icon": "fas fa-code-branch",
        "app": "pulls"
      }]
    }]
  }, {
    "title": "Websites",
    "sections": [{
      "selectors": ["v1.0.4 (latest)", "v1.0.3", "v1.0.2", "v1.0.1"],
      "title": "Aramisauto",
      "links": [{
        "icon": "fas fa-book",
        "selectors": ["v1.0.4 (latest)"],
        "title": "Documentation"
      }, {
        "icon": "fas fa-book",
        "selectors": ["v1.0.3"],
        "title": "Documentation"
      }, {
        "icon": "fas fa-project-diagram",
        "selectors": ["v1.0.2"],
        "title": "Diagrams"
      }, {
        "icon": "fas fa-columns",
        "selectors": ["v1.0.2"],
        "title": "Stories"
      }, {
        "icon": "fas fa-stream",
        "selectors": ["v1.0.2"],
        "title": "Changelog"
      }, {
        "icon": "fab fa-github",
        "selectors": ["v1.0.2"],
        "title": "Sources"
      }, {
        "icon": "fas fa-file-contract",
        "selectors": ["v1.0.2"],
        "title": "Coverage"
      }, {
        "icon": "fas fa-chart-pie",
        "title": "Reports"
      }, {
        "icon": "fas fa-code-branch",
        "title": "CI"
      }, {
        "icon": "fab fa-slack",
        "title": "Support",
        "url": "//google.com"
      }]
    }]
  }]
}
