$colorBg: #102027;
$colorPanelLighter: #172c36;
$colorPanelDarker: #081419;
$colorText: white;

$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1);
$easeOutBackHard: cubic-bezier(0.07, 1.25, 0.72, 1.28);
